# https://blog.gitbutler.com/how-git-core-devs-configure-git/

[core]
	autocrlf = input
	editor = nvim
	excludesfile = /home/bniwa/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RF

[user]
	name = Bryan Niwa
	email = {{ .email | quote }}
{{- if eq .profile "work" }}
[includeIf "gitdir:~/projects/webb-enterphone-directory/.git"]
	autocrlf = false
{{- end}}

[init]
	defaultBranch = main

[interactive]
	diffFilter = diff-so-fancy --patch

[diff-so-fancy]
	markEmptyLines = false

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[merge]
	conflictstyle = zdiff3

[help]
	autocorrect = prompt

[branch]
	sort = -committerdate

[diff]
	algorithm = histogram
	submodule = log

[status]
	submoduleSummary = true

[pull]
	rebase = true

[tag]
	sort = version:refname

[push]
	autoSetupRemote = true
	; followTags = true ; automatically push tags

[fetch]
	prune = true
	pruneTags = true
	all = true

[commit]
	verbose = true

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autostash = true
	updateRefs = true

[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
