if status is-interactive
    # Commands to run in interactive sessions can go here
end

zoxide init fish | source

pyenv init - | source

### Navigation Helpers
alias ... "cd ../.."
alias .... "cd ../../.."

### Exa mappings
abbr ls eza
abbr ll "eza -l"
abbr la "eza -la"
abbr lt "eza -T"

### Docker Compose abbreviations
abbr dc docker compose

### Git abbreviations
abbr gswm git switch \(__git.default_branch\)
abbr gswd git switch develop
abbr gc!! git commit --amend --no-edit
abbr gca!! git commit --amend --no-edit --all

## Chezmoi abbreviation
abbr cm chezmoi

{{- if eq .profile "personal" }}
### Neovim
set -gx XDG_RUNTIME_DIR /tmp/
{{- end}}

### Docker abbreviations
abbr dc docker compose

### Misc
{{- if eq .profile "personal" }}
alias here "explorer.exe ."
{{- else if eq .profile "work" }}
alias here "open ."
{{- end }}
set -gx EDITOR nvim
set -gx GO_PATH $HOME/.go
set -gx MANPAGER "nvim +Man!"

# Enable true color support
set -g fish_term24bit true

{{- if eq .profile "work" }}
abbr ssho ssh -oHostKeyAlgorithms=+ssh-rsa
abbr scpo scp -O -oHostKeyAlgorithms=+ssh-rsa
{{- end }}
