"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Bryan Niwa"
email = {{ .email | quote }}

[ui]
editor = "nvim"
conflict-marker-style = "git"
default-command = "log"
pager = ":builtin"

[colors]
"log commit diff files" = "yellow"

[aliases]
la = ["log", "-r", "::"]
ld = ["log", "-T", "builtin_log_detailed"]
lda = ["log", "-r", "::", "-T", "builtin_log_detailed"]
since = ["log", "-r", "since"]
gp = ["git", "push"]
gf = ["git", "fetch"]
count = ["log", "--no-graph", "-T", "'.'"]

[revset-aliases]
# Make develop immutable as soon as it's been pushed
"immutable_heads()" = "builtin_immutable_heads() | present(develop@origin)"
"since" = "since(tracked_remote_bookmarks())"
"since(target)" = "fork_point(@ | target)..target"
"closest_bookmark(to)" = "coalesce(heads(::to & bookmarks()), root())"
"closest_pushable(to)" = "heads(::to & mutable() & ~description(exact:\"\") & (~empty() | merges()))"
"desc(x)" = "description(x)"

[revsets]
"bookmark-advance-to" = "closest_pushable(@)"

[template-aliases]
'format_short_signature(signature)' = 'signature.name()'

[git]
private-commits = "description('private:*') | description('WIP:*')"

[working-copy]
eol-conversion = "input"

[fix.tools.ruff-format]
command = [
  "/home/bniwa/.local/share/nvim/mason/bin/ruff",
  "format",
  "--stdin-filename=$path",
]
patterns = ["glob:'**/*.py'"]

[fix.tools.ruff-check]
command = [
  "/home/bniwa/.local/share/nvim/mason/bin/ruff",
  "check",
  "--fix",
  "-q",
  "--stdin-filename=$path",
]
patterns = ["glob:'**/*.py'"]

[fix.tools.prettier]
# Prefer the project's local prettier if present in node_modules
command = ["$root/node_modules/.bin/prettier", "--stdin-filepath", "$path"]
patterns = [
  "glob:'**/*.js'",
  "glob:'**/*.ts'",
  "glob:'**/*.jsx'",
  "glob:'**/*.tsx'",
  "glob:'**/*.json'",
  "glob:'**/*.css'",
  "glob:'**/*.scss'",
  "glob:'**/*.html'",
  "glob:'**/*.md'",
]

[fix.tools.clang-format]
command = ["/usr/bin/clang-format", "--assume-filename=$path"]
patterns = [
  "glob:'**/*.c'",
  "glob:'**/*.cc'",
  "glob:'**/*.cpp'",
  "glob:'**/*.h'",
]
